extends layout

block content
  h1= title
  h2 DataBase Admin Panel

  div(class="flex-container1")
    a(href="/users/instructors", class='waves-effect waves-light btn-large') All instructors
    a(href="/users/student1/TEMP", class='waves-effect waves-light btn-large') All students TEMP
    a(href="/users/student1/TEMP", class='waves-effect waves-light btn-large') All courses TEMP
    a(href="/users/student1/TEMP", class='waves-effect waves-light btn-large') All books TEMP
    a(href="/users/student1/TEMP", class='waves-effect waves-light btn-large') All y'all TEMP
    a(href="/users/student1/TEMP", class='waves-effect waves-light btn-large') All day TEMP

  br
  form(action="/users/all", method="post")
    label(for="all") all the data at once
    input(type="submit", class="waves-effect waves-light btn", style="color:red;")

  div(class="flex-container2")
    form(action="/users/createStudent", method="post")
      label(for="student_id") student_id
      input(type="text", name="student_id")
      label(for="first_name") first_name
      input(type="text", name="first_name")
      label(for="last_name") last_name
      input(type="text", name="last_name")
      label(for="student_department") student_department
      input(type="text", name="student_department")
      input(type="submit", class="waves-effect waves-light btn", style="color:red;")

  div()
    h2 Students
    table(class="striped", style="width:50%")
      tr
        th ID
        th Name
        th LastName
        th Email
        th Department
        th Tools
      if students
        each user in students
          tr
            td= user.student_id
            td= user.first_name
            td= user.last_name
            td= user.student_email
            td= user.department_code
            td
              a(href="/users/" + user.student_id + "/delete", class="waves-effect waves-light btn") Delete

  div()
      h2 Instructors
      table(class="striped", style="width:50%")
        tr
          th ID
          th Name
          th LastName
          th Email
          th Department
        if instructor
          each user2 in instructor
            tr
              td= user2.instructor_id
              td= user2.first_name
              td= user2.last_name
              td= user2.instructor_email
              td= user2.department_code